<div class="container">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                </ul>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{username}}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/category">Category</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/user/logout">Log out</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>

    <div class="edit-category mt-4">
        <h3>Edit category</h3>
        <form action="/category/{{category.CatID}}?_method=PUT" method="post">
            <div class="form-outline mb-3">
                <label class="form-label" for="name">Category name</label>
                <input type="text" id="name" name="name" class="form-control py-2 w-50" placeholder="Enter name"
                    value="{{category.CatName}}" />
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>